body {
    background: lightBlue;
}
h1 {
    text-align: center;
    color: limegreen;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 15px 18px -8px black;
    background: purple;
}
h1.list {
    box-shadow: 0px -15px 18px -8px black;
}
p {
    font-size: 100%;
}
th {
    background: orange;
    height: 0px;
    width: 188px;
    padding: 0px;
    border-radius: 10px;
}

td.add {
    text-align: center;
    vertical-align: middle;
    width: 35px;
    border: none;
}
td {
    padding: 0px;
}
button.bt {
    background-image: url(../images/add35px.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 35px;
    width: 35px;
    margin-left: 18px;
    border: none;
    border-radius: 120px;
}
table {
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 1px 0px 20px 11px blue;
    padding: 30px;
    border: 2px hidden black;
    border-radius: 65px;
    width: 53%;
}
table, th, td {
    text-align: center;
    vertical-align: middle;
}
